@import '../../../../variables.scss';

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 6px 7px 14px -8px rgba(0, 0, 0, 0.26);
}

.brand {
  color: $green !important;
}

@media only screen and (max-width: 576px) {
  .header {
    position: relative !important;
    height: fit-content !important;
  }
}
