@import '../../../../variables.scss';

.sidebar__list {
  gap: 20px;
  color: $dark-gray;

  &__item {
    width: min-content;
    margin: 0 auto;

    &_active {
      box-shadow: inset 0 -3px 0 $green;
      box-sizing: border-box;
    }
  }
}
