.remove_button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  
  &__icon {
    width: 17px;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;

    &:hover {
      opacity: 1;
    }
  }
}
