.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.3s ease;
  z-index: 10000;
  pointer-events: none;

  &__content {
    position: relative;
  }

  &__close_button {
    position: absolute;
    top: -20px;
    right: -20px;
    pointer-events: all;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
